@import "styles"; 

.setup-page {
    width: 100%; 
    min-height: 80vh;
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    margin: 24px 0; 
    @media screen and (max-width: 600px) {
       justify-content: flex-start;
       padding: 16px; 
    }
    
    &-container { 
        @extend .setup-page-container--width;

        @media screen and (max-width: 600px) {
            padding: 24px; 
        }

        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap; 
        justify-content: center;
        align-items: center;
        background-color: var(--surface-a); 
        padding: 48px 36px;
        border-radius: 10px; 
        box-shadow: 0px 8px 20px rgba(26, 32, 44, 0.15);
        margin: 36px auto;
    
        &__title {
            color: $darkest-blue; 
            font-weight: $bold; 
            font-size: 24px; 
            margin-bottom: 40px; 
        }

        &--width {
            @media screen and (max-width: 600px) {
                width: 100%; 
                margin: 16px auto; 
            }
            width: 480px; 
        }
    }

    &-action-row {
        @extend .setup-page-container--width;
        display: flex;
        flex-flow: row-reverse nowrap; 
        align-items: center;
        justify-content: space-between;
    }
}
