<div class="setup-page">
    <p-progressBar [showValue]="false" [value]="progressValue" class="setup-page-container--width"></p-progressBar>
    <div class="setup-page-container">
        <div [ngSwitch]="pageIndex" style="width:100%">
            <tattoo-setup-panel-e *ngSwitchCase="0" [index]="0" [pageChange]="pageChange" [validList]="validList" [creator]="creator">
            </tattoo-setup-panel-e>
            <tattoo-setup-panel-f *ngSwitchCase="1" [index]="1" [pageChange]="pageChange" [validList]="validList" [creator]="creator">
            </tattoo-setup-panel-f>
            <div *ngSwitchDefault>
                <tattoo-icon-message icon="pi pi-clock" message="Verification Pending"></tattoo-icon-message>
                <div style="font-size: 12px; text-align: center; margin-top: 24px">
                    Our team will notify you when your content is approved
                </div>
            </div>
        </div>
    </div>
    <div class='setup-page-action-row' *ngIf="displayButtonRow">
        <p-button *ngIf="!isLoading" iconPos="right" icon="pi pi-chevron-right" [label]="nextButtonLabel" [disabled]="disabled" (click)="next()"></p-button>  
        <p-button *ngIf="isLoading" icon="pi pi-spin pi-spinner"></p-button>
        <button pButton type="button" label="Back" *ngIf="displayBackButton" iconPos="left" icon="pi pi-chevron-left" (click)="back()" class="p-button-secondary"></button>
    </div>
</div>