@import 'styles'; 

.tattoo-content {
    width: 100%; 
    height: 100%; 
    border-radius: 5px;
    overflow: hidden;

    &__carousel {
        width: 100%; 
    }

    &__img {
        width: 100%; 
    }

    &__video {
        display: flex; 
        object-fit: contain;
    }

    &__small {
        @extend .tattoo-content__img;
        display: none;
        @media screen and (max-width: 400px){
            display: flex;
            height: 256px; 
            object-fit: contain;
        }
    }

    &__medium {
        @extend .tattoo-content__img;
        display: none;
        @media screen and (max-width: 1000px) and (min-width: 401px) {
            display: flex; 
            height: 400px; 
            object-fit: contain;
        }
    }

    &__large {
        @extend .tattoo-content__img;
        display: none;
        @media screen and (min-width: 1001px) {
            display: flex; 
            height: 512px; 
            object-fit: contain;
        }
    }

    &__locked {
        border: 1px solid var(--surface-d);
        border-radius: 5px; 
        display: flex; 
        flex-flow: row nowrap; 
        align-items: center;
        justify-content: center;
        height: 256px; 
    }
}