<div class="tattoo-content">
    <ng-container *ngIf="!isLocked">
        <ng-container *ngIf="!isVideo">
            <p-carousel *ngIf="mediaLength >= 2" class="tattoo-content__carousel" [value]="content.media"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-media pTemplate="item">
                    <tattoo-media [media]="media" [description]="description"></tattoo-media>
                </ng-template>
            </p-carousel>
            <tattoo-media *ngIf="mediaLength == 1" [media]="content.media[0]" [description]="description"></tattoo-media>
        </ng-container>

        <tattoo-player *ngIf="isVideo" class="tattoo-content__video" [videoUrl]="large"></tattoo-player>
    </ng-container>
    <div class="tattoo-content__locked" *ngIf="isLocked">
        <i class="pi pi-lock" style="font-size: 6rem"></i>
    </div>
</div>