<div class="setup-page-panel-b">
    <div class="tattoo-text-heading-2" style="margin-bottom: 24px">Setup your profile</div>
    <form [formGroup]="formGroup" class="p-fluid">
        <div class="setup-panel-b__column">
            <div>Profile Picture</div>
            <tattoo-file-upload [roundDisplay]="true" (fileEvent)="setFile($event)"></tattoo-file-upload>
        </div>
        <div class="p-field">
            <label for="bio">Bio</label>
            <input class="landing-page__form-input" 
            formControlName="bio" 
            type="text" 
            name="bio" 
            id="bio"
            pInputText
            >
            <small id="username2-help" *ngIf="displayError('bio')" class="p-error">Please enter a bio less than 60 characters</small>
        </div>
    </form>
</div>