@import 'styles'; 

.setup-panel-b {
    
    &__column {
        width: 100%; 
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 24px; 
    }
}
