<div class="content-grid">
    <ng-container *ngIf="!isLoading">
        <div *ngIf="posts.length === 0" style="margin-top: 96px">
            <tattoo-icon-message icon="camera" message="No Posts Yet"></tattoo-icon-message>
        </div>
        <ng-container *ngIf="posts.length > 0">
            <tattoo-tile *ngFor="let post of posts; let i = index" style="width:100%" [ngStyle]="{'margin-top': i === 0 ? '' : '24px'}" [tile]="{ 'name': username, 'content': post}"></tattoo-tile>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner"></i>
    </ng-container>
</div>
