<div class="setup-page-panel-d">
    <div class="tattoo-text-heading-2" style="margin-bottom: 24px">Connect your other accounts</div>
    <form [formGroup]="formGroup" class="p-fluid">
        <div class="p-field">
            <label for="twitter_url">Twitter</label>
            <input class="landing-page__form-input" 
            formControlName="twitter_url" 
            type="text" 
            name="twitter_url" 
            id="twitter_url"
            pInputText
            >
            <small id="username2-help" *ngIf="displayError('twitter_url')" class="p-error">Make sure it is a working twitter link</small>
        </div>
        <div class="p-field">
            <label for="instagram_url">Instagram</label>
            <input class="landing-page__form-input" 
            formControlName="instagram_url" 
            type="text" 
            name="instagram_url" 
            id="instagram_url"
            pInputText
            >
            <small id="username2-help" *ngIf="displayError('instagram_url')" class="p-error">Make sure it is a working instagram link</small>
        </div>
    </form>
</div>