<div class="setup-page-panel-f">
    <div class="tattoo-text-heading-2" style="margin-bottom: 24px">Verify your identity</div>
    <form [formGroup]="formGroup" class="p-fluid">
        <div>
            I am 18 years of age or older and agree to Peek Social's Terms of Service
        </div>
        <div class="p-field">
            <p-toggleButton formControlName="age_verified" onLabel="I confirm" offLabel="I reject" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>
            <div id="username2-help" *ngIf="displayError('age_verified')" class="p-error">Please accept to move forward</div>
        </div>
        <div class="p-field">
            <label for="date_of_birth">Birthdate</label>
            <p-inputMask formControlName="date_of_birth" id="date_of_birth" mask="99/99/9999" slotChar="mm/dd/yyyy"></p-inputMask>
            <small id="username2-help" *ngIf="displayError('date_of_birth')" class="p-error">Please enter your birthday</small>
        </div>
        <div style="margin-bottom: 8px;">Front of drivers license</div>
        <tattoo-file-upload #file1 [roundDisplay]="false" (fileEvent)="setFileFront($event)" [clearFile]="clearFrontFile" [uploadLoading]="$isLoadingFront"></tattoo-file-upload>
        <div style="margin-top: 16px; margin-bottom: 8px">Back of drivers license</div>
        <tattoo-file-upload #file2 [roundDisplay]="false" (fileEvent)="setFileBack($event)" [clearFile]="clearBackFile" [uploadLoading]="$isLoadingBack"></tattoo-file-upload>
    </form>
</div>