@import 'styles'; 

$avatar-size: 40px; 

$medium-factor: 1.2; 
$large-factor: 2;
.avatar {
    &-img {
        width: $avatar-size; 
        height: $avatar-size; 
        min-width: $avatar-size; 
        min-height: $avatar-size; 
        border-radius: $avatar-size / 2;
        overflow: hidden; 
        border: 1px solid $demo-blue; 
        box-sizing: border;
        object-fit: cover;
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
        justify-content: center;
    }

    &__edit {
        width: 100%; 
        height: 50%; 
        background-color: var(--surface-b); 
        opacity: .5;
        transform: translateY(70%);
        text-align: center;
    }

    &-img-sm {
        @extend .avatar-img;
    }

    &-img-md {
        @extend .avatar-img;
        width: $avatar-size * $medium-factor; 
        height: $avatar-size * $medium-factor; 
        min-width: $avatar-size * $medium-factor; 
        min-height: $avatar-size * $medium-factor; 
        border-radius: ($avatar-size * $medium-factor) / 2
    }

    &-img-lg {
        @extend .avatar-img;
        width: $avatar-size * $large-factor; 
        height: $avatar-size * $large-factor; 
        min-width: $avatar-size * $large-factor; 
        min-height: $avatar-size * $large-factor; 
        border-radius: ($avatar-size * $large-factor) / 2
    }
}

.sm {
    font-size: 1rem; 
}

.md {
    font-size: 1rem * $medium-factor; 
}

.lg {
    font-size: 1rem * $large-factor; 
}

input[type=file] {
    display: none 
}