<ng-template #upload>
    <div class="avatar__edit" *ngIf="edit">
        <input type="file" [id]="id" (change)="handleFileInput($event.target.files[0])" accept="image/*">
        <label [for]="id">
            <span pButton [icon]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-upload'" class="p-button-text"></span>
        </label>
    </div>
</ng-template>

<div class="avatar">
    <div [class]="imgClass" *ngIf="!url">
        <i class="pi pi-user" style="position: absolute" [class]="size"></i>
        <ng-template [ngTemplateOutlet]="upload"></ng-template>
    </div>
    <div [class]="imgClass" *ngIf="!!url">
        <img [src]="url" alt="" style="position: absolute; z-index: 0;" [class]="imgClass">
        <ng-template [ngTemplateOutlet]="upload"></ng-template>
    </div>
</div>