@import 'styles';

.username {
    display: flex; 
    flex-flow: column nowrap; 
    align-items: flex-start;
    margin-top: 12px;

    &-status {
        display: flex; 
        flex-flow: row nowrap; 
        align-items: center;
        margin-top:4px;
    }

    &--icon {
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
        justify-content: center;
        width: 1rem; 
        height: 1rem;
        border-radius: .5rem; 
        overflow: hidden;
        margin-right: 4px;

        &-available {
            background-color: green;
        }

        &-unavailable {
            background-color: red;
        }
    }
}