<ng-container *ngIf="!!formGroup">
    <form [formGroup]="formGroup" class="username">
        <input type="text" id="username" autocomplete="off" pInputText formControlName="username">
        <div class="username-status" *ngIf="!displayError(formGroup, 'username') && !isUsernameUnchanged">
            <div class="username--icon"
                [ngClass]="{'username--icon-available': usernameAvailable, 'username--icon-unavailable': !usernameAvailable}">
                <i [class]="usernameAvailable ? 'pi pi-check' : 'pi pi-times'"
                    style="color: white; font-size: .75rem"></i>
            </div>
            <small>{{statusText}}</small>
        </div>
        <small id="username2-help" style="margin-top: 4px" *ngIf="displayError(formGroup, 'username')"
            class="p-error">Only letters, numbers and underscores are allowed</small>
    </form>
</ng-container>