<div class="setup-page-panel-a">
    <div class="tattoo-text-heading-2" style="margin-bottom: 24px">Please verify your account before adding content</div>
    <form [formGroup]="formGroup" class="p-fluid">
        <div class="p-field">
            <label for="first_name">First Name</label>
            <input class="landing-page__form-input" 
            required
            formControlName="first_name" 
            type="text" 
            name="first_name" 
            id="first_name"
            pInputText
            >
            <small id="username2-help" *ngIf="displayError('first_name')" class="p-error">Please enter a first name</small>
        </div>
        <div class="p-field">
            <label for="last_name">Last Name</label>
            <input class="landing-page__form-input" 
            required
            formControlName="last_name" 
            type="text" 
            name="last_name" 
            id="last_name"
            pInputText
            >
            <small id="username2-help" *ngIf="displayError('last_name')" class="p-error">Please enter a last name</small>
        </div>
        <div class="p-field">
            <label for="last_name">Display Name</label>
            <input class="landing-page__form-input" 
            required
            formControlName="display_name" 
            type="text" 
            name="display_name" 
            id="display_name"
            pInputText
            autocomplete="off"
            >
        </div>
        <small id="username2-help" *ngIf="displayError('display_name')" class="p-error">Only letters, numbers and dashes are allowed</small>
        <div class="tattoo-text-body">{{currentDisplayName}}</div>
    </form>
</div>