<div class="setup-page-panel-c">
    <div class="tattoo-text-heading-2" style="margin-bottom: 24px">Confirm your age</div>
    <form [formGroup]="formGroup" class="p-fluid">
        <div style="margin-bottom: 24px">I knowingly agree to all terms and conditions put forward by company name and verify I am above the age of 18</div>
        <div class="p-field">
            <p-toggleButton formControlName="age_verified" onLabel="I confirm" offLabel="I reject" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>
            <div id="username2-help" *ngIf="displayError('age_verified')" class="p-error">Please accept to move forward</div>
        </div>
    </form>
</div>