@import 'styles'; 

.content-selector {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;

    &__button-row {
        @include button-row; 
        margin-bottom: 24px; 
        display: flex;
        flex-flow: row nowrap; 
        align-items: center;
        justify-content: space-between;
    }

    &__image-cropper {
        width: 500px; 
        min-width: 500px; 
        max-height: 300px;

        @media screen and (max-width: 576px) {
            width: 200px; 
            min-width: 200px; 
            max-height: 180px; 
        }
    }
}

.flip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}