<div class="content-selector">
    <div class="content-selector__button-row">
        <button pButton *ngIf="displayCropper && !isVideo" icon="pi pi-refresh" class="p-button-secondary flip" (click)="rotateLeft()"></button>
        <tattoo-file-upload #file1 [roundDisplay]="false" (fileEvent)="setFile($event)" [file]="contentTracker.file" [displayPreview]="false" [accept]="accept"></tattoo-file-upload>
        <p-button *ngIf="displayCropper && !isVideo" icon="pi pi-refresh" styleClass="p-button-secondary" (click)="rotateRight()"></p-button>    
    </div>

    <tattoo-player style="max-width: 350px" *ngIf="isVideo" [file]="contentTracker.file" [size]="200"></tattoo-player>
    
     <image-cropper
        *ngIf="!isVideo"
        class="content-selector__image-cropper"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="5 / 4"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        [imageFile]="contentTracker.file"
        [resizeToHeight]="1024"
        [cropperMinWidth]="100"
        [canvasRotation]="canvasRotation"
    ></image-cropper>
</div>
