<div class="setup-page-panel-e">
    <div class="tattoo-text-heading-2" style="margin-bottom: 24px">Enter your address</div>
    <form [formGroup]="formGroup" class="p-fluid">
        <div class="p-field">
            <label for="address_line_1">Address Line 1</label>
            <input class="landing-page__form-input"
                required 
                formControlName="address_line_1" 
                type="text" 
                name="address_line_1" 
                id="address_line_1"
                pInputText
            >
            <small id="username2-help" *ngIf="displayError('address_line_1')" class="p-error">Please enter your street address</small>
        </div>
        <div class="p-field">
            <label for="address_line_2">Adress Line 2</label>
            <input class="landing-page__form-input" 
            formControlName="address_line_2" 
            type="text" 
            id="address_line_2"
            pInputText
            >
            <small id="username2-help" *ngIf="displayError('address_line_2')" class="p-error">Please enter a valid address</small>
        </div>
        <div class="p-field">
            <label for="city">City</label>
            <input required id="city" type="text" formControlName="city" pInputText> 
            <small id="username2-help" *ngIf="displayError('city')" class="p-error">Please enter a valid city</small>
        </div>
        <div class="p-field">
            <label for="state">State or Province</label>
            <input required id="state" type="text" formControlName="state" pInputText> 
            <small id="username2-help" *ngIf="displayError('state')" class="p-error">Please enter a valid state or province</small>
        </div>
        <div class="p-field">
            <label for="zip">Zip or Postal Code</label>
            <input id="zip" formControlName="zip" type="text" pInputText> 
            <small id="username2-help" *ngIf="displayError('zip')" class="p-error">Please enter a valid zip or postal code</small>
        </div>
        <div class="p-field">
            <label for="country">Country</label>
            <p-dropdown [options]="countries" formControlName="country" optionLabel="name"></p-dropdown>
            <small id="username2-help" *ngIf="displayError('country')" class="p-error">Please enter a valid country</small>
        </div>
    </form>
</div>